[Unit]
Description= {{ item }} {{ django_project_name }} on uWSGI
Requires=network.target
After=network.target

[Service]
User={{ ansible_user }}
Group=www-data
WorkingDirectory={{ django_env }}
Environment="PATH={{ django_env }}/bin"
ExecStart= {{ django_env }}/bin/uwsgi --ini /etc/uwsgi/django_{{ item }}.ini
Restart=on-failure
RestartSec=10
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
StandardError=syslog

[Install]
WantedBy=multi-user.target
