[Unit]
Description= {{ item }} pgadmin4 on uWSGI
Requires=network.target
After=network.target

[Service]
User={{ ansible_user }}
Group=www-data
WorkingDirectory={{ pgadmin_env }}/lib/{{ python_ver }}/site-packages/pgadmin4
Environment="PATH={{ pgadmin_env }}/bin"
ExecStart= {{ pgadmin_env }}/bin/uwsgi --ini /etc/uwsgi/pgadmin_{{ item }}.ini
Restart=on-failure
RestartSec=10
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
StandardError=syslog

[Install]
WantedBy=multi-user.target
